/*afecta a todos los elementos de la pagina, quita el estilo de las listas, pixel de los margenes y del relleno 0, colores y decoraion del tecto fuera para poder daer stilo a los enlaces */
*{
  list-style:none;
  list-style-type:none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: inherit;

}


ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


/* Footer */
#footer {
    font-family: Raleway,sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    background: #444;
    background: #333;
    background: linear-gradient(to bottom,#485054 0,#333738 100%);
    box-shadow: inset 0 30px 30px -30px rgba(0,0,0,.5);
}
/* #footer-line {
  position: relative;
  top: 3em;
  height: 2em;
  background: rgba(255,255,255,.05);
} */
#footer-content {
  padding: 4em 20%;
}
#footer-column-1 {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
#footer-column-2 {
  width: 30%;
  margin: 0 5%;
  display: inline-block;
  vertical-align: top;
}
#footer-column-3 {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
#footer ul {
  margin: 0;
  padding-left: 2em;
  list-style-type: none;
}

#footer li {
  margin: 0;
  padding: 0;
}

#footer h1, #footer h2 {
  text-align: left;
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  letter-spacing: .02em;
  color: #daeaf2;
  line-height: 1.2em;
  margin: 0.5em 0;
  padding: 0;
  background: 0 0;
  border: 0;
  position: static;
  display: block;
  box-shadow: 0 0 0 transparent;
}
#footer h1 {
  font-size: 1.2em;
  text-shadow: none;
}
#footer a, #footer a:hover {
  display: block;
  color: #d0e6f2;
  text-decoration: none;
}
#footer a, #footer a:hover {
  display: block;
  color: #d0e6f2;
  text-decoration: none;
}
#footer a span {
  transition: all .2s cubic-bezier(.165,.84,.44,1);
  position: relative;
  display: inline-block;
  transform: translate3d(0,0,0) skew(0) rotate(0);
  opacity: .6;
}
