*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style:none;
    list-style-type:none;
  
  }
  
  body, html {
    background-color: #EEEEEE;
  }
  
  /* *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
/* Nav */
.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0%;
  width: 100%;
  margin: 1% auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.nav ul {
  font-size: 0;
  list-style-type: none;
}
.nav ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
  padding: 15px;
  position: relative;
}
.nav ul li ul {
  display: none;
}
.nav ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.nav ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.nav ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.nav ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #F03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.nav ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.nav ul li:hover ul li:hover span {
  background-color: #ee204e;
}
.nav ul li a {
  list-style:none;
  list-style-type:none;
  text-decoration: none;
  color: inherit;
}
.nav ul li a:hover {
  list-style:none;
  list-style-type:none;
  text-decoration: none;
  color: inherit;
}