.repos-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .repos-list li {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .repos-list li a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #e91e63;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .repos-list li a:hover {
    background-color: #f03861;
  }

/* Estilos para cada repositorio */
.repo-container {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.repo-container:hover {
  background-color: #f0f0f0;
}
/* Estilos para los detalles del repositorio */
.repo-details {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
/* Estilos para la flecha */
.arrow {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.arrow.open {
  transform: rotate(180deg);
    }